<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Budget Planner</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/budget.css') }}">

</head>

<body>

<div class="container">

    <h1>💰 Monthly Budget Planner</h1>

    <form method="POST">

        <label>Enter Monthly Budget</label>

        <input
            type="number"
            name="monthly_budget"
            placeholder="Enter Budget"
            required>

        <button type="submit">

            Save Budget

        </button>

    </form>

    <div class="card">

        <h2>Budget Summary</h2>

        <p><strong>Monthly Budget :</strong> ₹{{ budget }}</p>

        <p><strong>Total Expense :</strong> ₹{{ expense }}</p>

        <p><strong>Remaining :</strong> ₹{{ remaining }}</p>

        <p><strong>Used :</strong> {{ percent }}%</p>

        <h3>{{ status }}</h3>

    </div>

    <a href="/dashboard" class="back">

        ⬅ Back to Dashboard

    </a>

</div>

</body>

</html>